@font-face {
  font-family: 'Museo Slab Bold';
  src: url("../Fonts/Museo-Slab-All/MuseoSlab-700.eot");
  /* IE9 Compat Modes */
  src: url("../Fonts/Museo-Slab-All/MuseoSlab-700.eot?#iefix") format("embedded-opentype"), url("../Fonts/Museo-Slab-All/MuseoSlab-700.woff2") format("woff2"), url("../Fonts/Museo-Slab-All/MuseoSlab-700.woff") format("woff"), url("../Fonts/Museo-Slab-All/MuseoSlab-700.ttf") format("truetype"), url("../Fonts/Museo-Slab-All/MuseoSlab-700.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Museo Slab Black';
  src: url("../Fonts/Museo-Slab-All/MuseoSlab-900.eot");
  /* IE9 Compat Modes */
  src: url("../Fonts/Museo-Slab-All/MuseoSlab-900.eot?#iefix") format("embedded-opentype"), url("../Fonts/Museo-Slab-All/MuseoSlab-900.woff2") format("woff2"), url("../Fonts/Museo-Slab-All/MuseoSlab-900.woff") format("woff"), url("../Fonts/Museo-Slab-All/MuseoSlab-900.ttf") format("truetype"), url("../Fonts/Museo-Slab-All/MuseoSlab-900.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Museo Sans Bold';
  font-weight: 700;
  src: url("../Fonts/Museo-Sans-All/MuseoSans-700.eot");
  /* IE9 Compat Modes */
  src: url("../Fonts/Museo-Sans-All/MuseoSans-700.eot?#iefix") format("embedded-opentype"), url("../Fonts/Museo-Sans-All/MuseoSans-700.woff2") format("woff2"), url("../Fonts/Museo-Sans-All/MuseoSans-700.woff") format("woff"), url("../Fonts/Museo-Sans-All/MuseoSans-700.ttf") format("truetype"), url("../Fonts/Museo-Sans-All/MuseoSans-700.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Museo Sans Medium';
  font-weight: 500;
  src: url("../Fonts/Museo-Sans-All/MuseoSans-500.eot");
  /* IE9 Compat Modes */
  src: url("../Fonts/Museo-Sans-All/MuseoSans-500.eot?#iefix") format("embedded-opentype"), url("../Fonts/Museo-Sans-All/MuseoSans-500.woff2") format("woff2"), url("../Fonts/Museo-Sans-All/MuseoSans-500.woff") format("woff"), url("../Fonts/Museo-Sans-All/MuseoSans-500.ttf") format("truetype"), url("../Fonts/Museo-Sans-All/MuseoSans-500.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Museo Sans Regular';
  font-weight: 400;
  src: url("../Fonts/Museo-Sans-All/MuseoSans-300.eot");
  /* IE9 Compat Modes */
  src: url("../Fonts/Museo-Sans-All/MuseoSans-300.eot?#iefix") format("embedded-opentype"), url("../Fonts/Museo-Sans-All/MuseoSans-300.woff2") format("woff2"), url("../Fonts/Museo-Sans-All/MuseoSans-300.woff") format("woff"), url("../Fonts/Museo-Sans-All/MuseoSans-300.ttf") format("truetype"), url("../Fonts/Museo-Sans-All/MuseoSans-300.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

* {
  margin: 0;
  padding: 0;
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
}

body {
  font-family: 'Museo Sans Regular';
  color: #526E88;
  font-size: 14px;
  line-height: 1.7;
  background: #F5F7FA;
}

body.modal-open .site-header {
  width: calc(100% - 17px);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Museo Slab Bold';
  color: #002D50;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

body {
  -webkit-transition: none !important;
}

input {
  outline: none;
}

.site-header {
  background: #002D50;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  -webkit-transition: none !important;
}

.site-header + * {
  margin-top: 78px;
}

.site-header .header_wrapper .main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header .header_wrapper .main-menu ul li {
  margin: 0 26px;
}

.site-header .header_wrapper .main-menu ul li a {
  font-size: 16px;
  color: #BAD4E8;
}

.site-header .header_wrapper .main-menu ul li a.active {
  color: #00B1B0;
  border-bottom: 1px solid #00B1B0;
  padding-bottom: 5px;
}

.site-header .header_wrapper .main-menu ul li a:hover {
  color: #00B1B0;
}

.site-header .header_wrapper .right-menus {
  position: relative;
}

.site-header .header_wrapper .right-menus .mobile-menu-toggler {
  background: transparent;
  border: none;
  margin-left: 18px;
  display: none;
}

.site-header .header_wrapper .right-menus .mobile-menu-toggler span {
  width: 22px;
  height: 2px;
  display: block;
  background: #fff;
  margin: 4px 0;
}

.site-header .header_wrapper .right-menus .mobile-menu-toggler span:nth-child(2) {
  width: 18px;
  margin-left: auto;
}

.site-header .header_wrapper .right-menus .mobile-menu-toggler span.close-btn:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.site-header .header_wrapper .right-menus .mobile-menu-toggler span.close-btn:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: -11px;
}

.site-header .header_wrapper .right-menus .mobile-menu-toggler span.close-btn:nth-child(2) {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  opacity: 0;
}

.site-header .header_wrapper .right-menus .username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 0px 6px 10px;
  border-radius: 8px;
  position: relative;
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.site-header .header_wrapper .right-menus .username img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.site-header .header_wrapper .right-menus .username span {
  font-size: 16px;
  color: #fff;
  font-family: 'Museo Sans Medium';
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.site-header .header_wrapper .right-menus .username.has-dropdown {
  padding-right: 30px;
  border: 2px solid #00B1B0;
}

.site-header .header_wrapper .right-menus .username.has-dropdown::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  right: 13px;
  top: 50%;
}

.site-header .header_wrapper .right-menus .username.toggled::after {
  -webkit-transform: translateY(-50%) rotate(-135deg);
          transform: translateY(-50%) rotate(-135deg);
}

.site-header .header_wrapper .right-menus .username img {
  margin-left: 20px;
}

.site-header .header_wrapper .right-menus .profile-inner {
  position: absolute;
  right: 0;
  top: calc(100% + 20px);
  background: #002D50;
  border-radius: 6px;
  width: 250px;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  z-index: 99;
}

.site-header .header_wrapper .right-menus .profile-inner.opened {
  opacity: 1;
  visibility: visible;
}

.site-header .header_wrapper .right-menus .profile-inner ul {
  padding: 5px 0;
}

.site-header .header_wrapper .right-menus .profile-inner ul li a {
  padding: 5px 15px;
  display: block;
  color: #BAD4E8;
}

.site-header .header_wrapper .right-menus .profile-inner ul li a:hover {
  color: #fff;
}

.site-footer {
  padding: 18px 0;
  margin-top: 30px;
  background: #002D50;
}

.site-footer p {
  font-size: 12px;
  color: #C8E9FF;
  text-align: center;
  margin-bottom: 0;
}

.common-title {
  font-size: 24px;
}

.card {
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: 1px 1px 4px rgba(153, 153, 153, 0.3) !important;
          box-shadow: 1px 1px 4px rgba(153, 153, 153, 0.3) !important;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  display: block;
}

.wrapper_main {
  padding: 50px 0;
  min-height: calc(100vh - 175px);
}

.my-profile .my-profile-inner {
  margin-top: 25px;
  height: 214px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-profile .my-profile-inner .left-aside {
  text-align: center;
  width: 264px;
  height: 100%;
  border-right: 1px solid #EBEEF1;
}

.my-profile .my-profile-inner .left-aside .profile-picture {
  width: 88px;
  margin: 0 auto 10px;
  height: 88px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.my-profile .my-profile-inner .left-aside .profile-username {
  font-size: 18px;
  font-family: 'Museo Sans Bold';
  line-height: 1.7;
  margin-bottom: 2px;
}

.my-profile .my-profile-inner .left-aside .designation {
  font-size: 14px;
  color: #526E88;
  font-weight: 500;
}

.my-profile .my-profile-inner .right-content {
  width: calc(100% - 264px);
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-profile .my-profile-inner .right-content .col_one {
  width: calc(28% - 10px);
}

.my-profile .my-profile-inner .right-content .col_one:last-child {
  width: calc(44% - 10px);
}

.my-profile .my-profile-inner .right-content .col_one .attr_one p {
  margin-bottom: 0;
  font-size: 14px;
  color: #002D50;
  font-weight: 600;
  margin-top: 5px;
  display: inline-block;
}

.my-profile .my-profile-inner .right-content .col_one .attr_one span {
  font-size: 12px;
  color: #526E88;
  display: block;
}

.my-profile .my-profile-inner .right-content .col_one .attr_one:first-of-type {
  margin-bottom: 20px;
}

.my-profile .my-profile-inner .right-content .col_one .attr_one .replace {
  color: #0072CE;
  font-size: 14px;
  margin-left: 15px;
  font-weight: 600;
  line-height: 1;
}

.my-profile .my-profile-inner .right-content .col_one .attr_one .replace img {
  margin-right: 8px;
  vertical-align: text-top;
}

.mt-40 {
  margin-top: 40px;
}

.stroke-2 {
  -webkit-text-stroke: 0.2px;
}

.weekly-default .weekly-default-inner {
  padding: 20px 25px 25px;
}

.weekly-default .weekly-default-inner .day_one {
  width: calc(20% - 10px);
  margin-right: 10px;
}

.weekly-default .weekly-default-inner .day_one:last-child {
  margin-right: 0;
}

.weekly-default .weekly-default-inner .day_one .day-name {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.weekly-default .weekly-default-inner .day_one .day-one-wrapper {
  border: 1px solid #D1DCE7;
  border-radius: 8px;
  padding: 5px 25px;
  min-height: 88px;
}

.weekly-default .weekly-default-inner .day_one .day-one-wrapper .work-station {
  font-weight: 600;
}

.weekly-default .weekly-default-inner .day_one .day-one-wrapper.work-from-office {
  background: url(../images/Buildings.png) no-repeat center bottom;
  border-top: 8px solid;
}

.weekly-default .weekly-default-inner .day_one .day-one-wrapper.work-from-home {
  background: #F5F7FA url(../images/workfromhome.png) no-repeat center bottom;
}

.border-top-orange {
  border-top-color: #ED8B00 !important;
}

.border-top-blue {
  border-top-color: #63BAFF !important;
}

.blue-color-btn {
  padding: 12px 18px;
  color: #0072CE;
  background: #fff;
  border: 1px solid #0072CE;
  border-radius: 8px;
  -webkit-text-stroke: 0.3px;
  font-size: 14px;
}

.blue-color-btn:hover {
  background: #0072CE;
  color: #fff;
}

.workspot-access .work-access-inner {
  padding: 20px 25px;
}

.workspot-access .work-access-inner h5 {
  font-family: 'Museo Sans Bold';
  margin-bottom: 0;
}

.workspot-access .work-access-inner .access-to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
}

.workspot-access .work-access-inner .access-to.update-workshop {
  margin-top: 25px;
}

.workspot-access .work-access-inner .access-to.update-workshop .access-one {
  padding: 0;
  border: none;
}

.workspot-access .work-access-inner .access-to .access-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  padding: 4px 5px;
  border: 1px solid #D1DCE7;
  border-radius: 50px;
  font-weight: 600;
  font-size: 14px;
  color: #002D50;
  margin: 4px 0;
}

.workspot-access .work-access-inner .access-to .access-one > img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 8px;
}

.workspot-access .work-access-inner .access-to .access-one .close_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18px;
  height: 18px;
  background: #EBEEF1;
  border-radius: 50%;
  margin-left: 12px;
  border: 2px solid #EBEEF1;
}

.workspot-access .work-access-inner .access-to .access-one .close_btn:hover {
  border-color: #ccc;
}

.workspot-access .work-access-inner .access-to .access-one:not(:last-child) {
  margin-right: 15px;
}

.modal .modal-content {
  border-radius: 8px;
}

.modal .modal-header {
  border-bottom: none;
  padding: 1.5rem 1.5rem 1rem;
}

.modal .modal-header h5 {
  font-size: 18px;
  font-family: 'Museo Sans Bold';
}

.modal .modal-header .btn-close {
  float: none;
  position: absolute;
  right: -28px;
  top: 8px;
  padding: 8px;
  background-color: #fff;
  background-size: 10px;
  border-radius: 8px;
  z-index: 99;
  opacity: 1;
}

.modal .modal-header .btn-close:hover {
  background-color: #f3f3f3;
}

.modal .modal-body {
  padding: 1rem 1.5rem;
  max-height: calc(100vh - 230px);
  overflow: auto;
}

.modal .modal-body::-webkit-scrollbar {
  width: 4px;
}

.modal .modal-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.modal .modal-body::-webkit-scrollbar-thumb {
  background-color: #005aa3;
}

.modal .modal-footer {
  padding: 1.2rem 1.5rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modal .modal-footer .dismiss {
  border: 1px solid #526E88;
  border-radius: 8px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 25px;
  font-size: 16px;
  color: #526E88;
  font-weight: 600;
}

.modal .modal-footer .dismiss:hover {
  background: #526E88;
  color: #fff;
}

.modal .modal-footer .save-data {
  border: 1px solid #0072CE;
  background: #0072CE;
  border-radius: 8px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 25px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

.modal .modal-footer .save-data:hover {
  background: #005aa3;
}

#delegate_workspot .modal-body, #set_location .modal-body {
  padding: 0rem;
}

.blue-bg {
  background: #63BAFF !important;
}

.orange-bg {
  background: #ED8B00 !important;
}

.green-bg {
  background: #00B1B0 !important;
}

.yellow-bg {
  background: #F7CA0F !important;
}

.gray-bg {
  background: #95A7B8 !important;
}

.delegate-workspot-access .small-title {
  font-size: 12px;
  color: #526E88;
  padding: 0 1.5rem;
}

.delegate-workspot-access .color-block {
  width: 20px;
  height: 20px;
  border-radius: 7px;
  display: block;
}

.delegate-workspot-access .applyall {
  padding: 1rem 1.5rem 1rem;
}

.delegate-workspot-access .applyall input[type="checkbox"] {
  width: 19px;
  height: 19px;
  border-radius: 0;
  margin-right: 10px;
}

.delegate-workspot-access .applyall label {
  font-size: 14px;
  color: #002D50;
}

.delegate-workspot-access input[type="search"] {
  width: 100%;
  height: 48px;
  padding: 10px 15px 10px 45px;
  background: url(../images/searchicon.svg) no-repeat 14px center;
  background-size: 20px;
  border: 1px solid #D1DCE7;
  border-radius: 8px;
  outline: none;
  display: block;
  width: calc(100% - 3rem);
  margin: 0 auto 10px;
}

.delegate-workspot-access .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  padding: 0.85rem 3rem 0.85rem 1.5rem;
}

.delegate-workspot-access .form-group.work-from-home {
  position: relative;
}

.delegate-workspot-access .form-group.work-from-home::before {
  content: '';
  position: absolute;
  width: calc(100% - 50px);
  left: 25px;
  height: 1px;
  background: #EBEEF1;
  opacity: 0.8;
  top: 0;
}

.delegate-workspot-access .form-group:hover {
  background: #F5F7FA;
}

.delegate-workspot-access .form-group img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.delegate-workspot-access .form-group label {
  font-size: 14px;
  -webkit-text-stroke: 0.25px;
  color: #002D50;
  padding-left: 10px;
}

.delegate-workspot-access .form-group label::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 12px;
  border-right: 2px solid #0072CE;
  border-bottom: 2px solid #0072CE;
  right: 32px;
  top: 50%;
  -webkit-transform: translateY(-70%) rotate(45deg);
          transform: translateY(-70%) rotate(45deg);
  opacity: 0;
  visibility: hidden;
  z-index: 99;
}

.delegate-workspot-access .form-group input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  opacity: 0;
}

.delegate-workspot-access .form-group input[type="checkbox"]:checked + label::after {
  opacity: 1;
  visibility: visible;
}

.myteam_wrapper .top-weeks-wrapper {
  margin-top: 35px;
}

.onboarding-main .top-illustration {
  text-align: center;
}

.onboarding-main .top-illustration .imaage-wrapper {
  position: relative;
}

.onboarding-main .top-illustration .imaage-wrapper::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/pattern.svg) no-repeat center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.onboarding-main .top-illustration .welcome h2 {
  font-size: 32px;
  margin-bottom: 6px;
}

.onboarding-main .top-illustration .welcome p {
  font-size: 16px;
}

.onboarding-main .on-boarding-inner {
  padding: 25px;
}

.onboarding-main .on-boarding-inner .weekly-default-inner {
  border-top: 1px solid #EBEEF1;
}

.onboarding-main .on-boarding-inner .badge-number .title {
  font-size: 14px;
  font-family: 'Museo Sans Bold';
  color: #002D50;
  margin-bottom: 12px;
  margin-top: 8px;
}

.onboarding-main .on-boarding-inner .badge-number .title span {
  color: #526E88;
  font-size: 14px;
  font-family: 'Museo Sans Regular';
}

.onboarding-main .on-boarding-inner .badge-number .badge-number-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.onboarding-main .on-boarding-inner .badge-number .badge-number-inner input {
  padding: 3px 5px;
  border: 1px solid #D1DCE7;
  border-radius: 8px;
  max-width: 80px;
  text-align: center;
  font-size: 24px;
  color: #002D50;
  margin-right: 8px;
}

.onboarding-main .on-boarding-inner .badge-number .badge-number-inner input:disabled {
  font-weight: 700;
  color: #002D50;
  background: #EBEEF1;
}

.onboarding-main .on-boarding-inner .badge-number .badge-number-inner input:last-child {
  margin-left: 8px;
}

.onboarding-main .on-boarding-inner .badge-number .badge-number-inner input:first-child {
  margin-right: 15px;
  max-width: 65px;
}

.onboarding-main .on-boarding-inner .weekly-default-inner .day_one a {
  text-decoration: none;
}

.onboarding-main .on-boarding-inner .weekly-default-inner .day-one-wrapper.add-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-width: 2px;
  border-style: dashed;
}

.onboarding-main .on-boarding-inner .weekly-default-inner .day-one-wrapper .plus-icon {
  width: 24px;
  height: 24px;
  padding: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(209, 220, 231, 0.7);
  border-radius: 50%;
}

.onboarding-main .action-btn {
  margin-top: 30px;
  padding: 12px 20px;
  border: none;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  background: #002D50;
}

.onboarding-main .action-btn:hover {
  background-color: #005aa3;
}

.onboarding-main .action-btn.disabled {
  background: #D1DCE7;
  opacity: 1;
  cursor: not-allowed;
}
/*# sourceMappingURL=style.css.map */